/* Reset default styles */
* {
  box-sizing: border-box;
  cursor: text;
  /* Default cursor for selection */
}

/* We override body in Terminal.css but let's ensure index.css is clean */
html,
body {
  margin: 0;
  padding: 0;
  background: #000;
}